.home {
    background: url(assets/20200926-apples-0008.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1264px;
}

.clipping {
    width: 1440px;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

.bg {
    position: absolute;
    z-index: -1;
    margin-top: -5px;
    overflow: hidden;
}

.right {
    position: absolute;
    z-index: -2;
    margin-top: -5px;
    overflow: hidden;
    margin: 100px 900px;
}

.left {
    position: absolute;
    z-index: -2;
    margin-top: -5px;
    overflow: hidden;
    margin: 100px;
}

.img-center {
    display: block;
    padding-top: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}